.instructor_img{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 6px rgba(0, 0, 0, 0.486);
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 150px;
    background-image: linear-gradient(to bottom, #ff9000, #dc6d3d, #aa453c, #722d35, #502816);
 }

.fa {
    padding: 17px;
    font-size: 36px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
  }
  
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: rgb(255, 255, 255);
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: rgb(255, 255, 255);
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white; }

.rights{
    color: rgb(218, 217, 217);
    margin: 3px;
    font-size: larger;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}