/* ----- Browser Reset ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%;
  font-family: "Roboto", "Lato", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #efefef;
  position: relative; }

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
  color: #60dad4;
  padding: 3rem; }

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #555;
  padding: 1em; }

.contact__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2.4rem;
  padding: 1em; }
.contact__paragraph {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  padding: 1em; }

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
  color: #60dad4;
  padding: 3rem; }

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #555;
  padding: 1em; }

.contact__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2.4rem;
  padding: 1em; }
.contact__paragraph {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  padding: 1em; }

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
  color: #60dad4;
  padding: 3rem; }

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #555;
  padding: 1em; }

.contact__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2.4rem;
  padding: 1em; }
.contact__paragraph {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  padding: 1em; }

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
  color: #60dad4;
  padding: 3rem; }

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #555;
  padding: 1em; }

.contact__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2.4rem;
  padding: 1em; }
.contact__paragraph {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  padding: 1em; }

.logo {
  position: absolute;
  top: 7rem;
  left: 0; }

/* ----- Main content with header and cards ----- */
.header {
  width: 100%;
  max-width: 144rem;
  min-height: 40vh;
  margin: auto;
  margin-top: 3vmin;
  display: flex;
  flex-direction: column;
  background-color: #fff; }
  .header__text {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .header__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #dc9223;
    padding: 1.5em;
    margin: auto; }
  .header__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto; }

/* ----- Cards ----- */
.header .card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 30rem;
  min-height: 36rem;
  background-color: #fff;
  padding: 1em;
  margin: 1.4em; }

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 30rem;
  min-height: 36rem;
  background-color: #fff;
  padding: 1em;
  margin: 1.4em; }

.card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 30rem;
  min-height: 36rem;
  background-color: #fff;
  padding: 1em;
  margin: 1.4em; }

.card4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 30rem;
  min-height: 36rem;
  background-color: #fff;
  padding: 1em;
  margin: 1.4em; }

/* ----- Card images ----- */
.img--1 {
  align-self: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top; }

.img--2 {
  align-self: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover; }

.img--3 {
  align-self: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover; }

.img--4 {
  align-self: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top; }

.images__bg {
  background: url("../images/boards.jpg") no-repeat center;
  width: 100%;
  max-width: 144rem;
  height: 40vh;
  margin: auto;
  background-position: center;
  background-size: cover; }

.contact {
  width: 100%;
  max-width: 144rem;
  min-height: 50vh;
  margin: auto;
  background: #555;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .contact__map {
    background: url("../images/map.png") no-repeat center;
    background-size: cover;
    width: 40rem;
    height: 40rem; }
  .contact i:hover {
    color: #dc9223;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s; }

footer {
  max-width: 144rem;
  background-color: #7bd3ce;
  margin: auto;
  position: relative; }

footer .foote_container {
  max-width: 122rem;
  margin: 0px auto;
  padding: 40px 0px;
  display: flex; }

footer .foote_container .left_footer {
  flex: 1;
  text-align: center; }

footer .foote_container .left_footer a {
  font-size: 30px;
  width: 55px;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 0px 10px;
  border-radius: 10px; }

footer .foote_container .left_footer a.fa-facebook {
  background: #3B5998;
  color: white; }

footer .foote_container .left_footer a.fa-twitter {
  background: #55ACEE; }

footer .foote_container .left_footer a.fa-youtube {
  background: #bb0000; }

footer .foote_container .left_footer a.fa-instagram {
  background: #125688; }

footer .foote_container .left_footer .social-media {
  align-items: center;
  flex-direction: column; }

footer .foote_container .left_footer .rights {
  text-align: center;
  vertical-align: bottom;
  padding-top: 50px; }

footer .foote_container .footer_links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

footer .foote_container .footer_links li {
  list-style: none;
  padding: 2px; }

footer .foote_container .footer_links li a {
  color: #ffffff;
  padding: 3px 10px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease-out; }

footer .foote_container .footer_links li a:hover {
  color: #00416d;
  transition: all 0.5s ease-out; }

/*# sourceMappingURL=contact.css.map */
