/* ----- Browser Reset ----- */
*,
*::after,
*::before {
  margin: 0%;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/* ----- Navigation with navlinks ----- */
/* ----- Main content with header and cards ----- */
/* ----- Section with contact form ----- */
/* ----- Footer ----- */
