@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*nav*/
/*navigation section*/
header {
    max-width: 144rem;
    /*may change later on... depends on what widths the rest of the pages are.*/
    background-color: #ffffff;
    height: 10rem;
    max-height: 10rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 122rem;
    max-width: 122rem;
    min-width: 35rem;
    /*change to svg logo*/
  }
  
  header nav .logo {
    position: relative;
    z-index: 2;
    -webkit-transform: translateY(-2.8rem);
            transform: translateY(-2.8rem);
    max-width: 21rem;
    height: auto;
  }
  
  header nav .logo img {
    width: 100%;
  }
  
  header nav .navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40rem;
    max-width: 45rem;
    min-width: 38rem;
  }
  
  header nav .navList .navList-item {
    list-style: none;
  }
  
  header nav .navList .navList-item .navLink {
    text-decoration: none;
    color: #00416d;
    font-weight: bold;
    padding: 1rem;
  }
  
  header nav .navList .navList-item .navLink:hover {
    color: #7bd3ce;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
/*sections*/
/* image slider/hero section */
.hero {
    max-width: 144rem;
    /*may change later on... depends on what widths the rest of the pages are.*/
    background-color: #ffffff;
    height: 50rem;
    max-height: 50rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  
  .hero .imageSliderContainer {
    max-height: 100%;
    height: 500px;
  }
  
  .hero .imageSliderContainer img {
    width: 100%;
    max-width: 100%;
    height: 50rem;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: imgSlider 30s linear infinite;
            animation: imgSlider 30s linear infinite;
  }
  
 
    
img{
    height: 250px;
    width: 300px;
}

.right__logo{
    height: 200px !important;
    width: 200px !important;
    position: absolute;
    top: 50px;
    right: 150px;
}

.gallery_head{
    text-align: center;
    margin-top: 100px;
    font-family: 'Reggae One', cursive;
    font-size: 60px;
    padding-bottom: 100px;
    /* color: #462d07; */ 

}

.gallery{
    width: 100%;
    padding: 0 150px;
    margin: auto;
    
}

.gallery .instructors_text{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}

.gallery .r_head.stu{
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;

}

.gallery .row1{
    margin-top: 20px;
}

.gallery .row1 .imgs{
    display: flex;
    justify-content: space-between;
    
}
.gallery .row2 .imgs{
    display: flex;
    justify-content: space-between;
    
}
.gallery .row1 .imgs .img .des{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    width: 210px;
}
.gallery .row2 .imgs .img .des{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    width: 210px;
}

.gallery .row1 img:not(:last-child){
    margin-right: 20px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}

.gallery .row2{
    margin-top: 20px;
}

.gallery .row2 .imgs{
    display: flex;
    
}
.gallery .row2 .imgs .img .des{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

.gallery .row2 img:not(:last-child){
    margin-right: 20px;
}

@-webkit-keyframes imgSlider {
    0% {
      content: url(../images/landingPage-img/surfers.jpg);
    }
    25% {
      content: url(../images/landingPage-img/seaLandscape.jpg);
    }
    50% {
      content: url(../images/landingPage-img/camp.jpg);
    }
    75% {
      content: url(../images/landingPage-img/waveSurfer.jpg);
    }
    100% {
      content: url(../images/landingPage-img/campfire.jpg);
    }
  }
  
  @keyframes imgSlider {
    0% {
      content: url(../images/landingPage-img/surfers.jpg);
    }
    25% {
      content: url(../images/landingPage-img/seaLandscape.jpg);
    }
    50% {
      content: url(../images/landingPage-img/camp.jpg);
    }
    75% {
      content: url(../images/landingPage-img/waveSurfer.jpg);
    }
    100% {
      content: url(../images/landingPage-img/campfire.jpg);
    }
  }