@charset "UTF-8";
/* global */
/* ----- Browser Reset ----- */
*,
*::after,
*::before {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e0e0e0;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*colors*/
/*this is the main color*/
/*mixins*/
/*standard tag stylings*/
button {
  font-size: 1.6rem;
  font-weight: bold;
  background: none;
  color: #00336d;
  border: none;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:focus {
  outline: none;
  border: 2px solid #00336d;
  border-radius: 2rem;
}

label {
  color: #5c928f;
}

/*standard classes*/
.mainHeading {
  color: #60dad4;
  font-family: 'Reggae One', cursive;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
}

.secondHeading {
  color: #ffffff;
  font-size: 2rem;
}

.mainParagraph {
  color: #5c928f;
}

.secondParagraph {
  color: #f7f7f7;
}

.thirdParagraph {
  color: #f7f7f7;
}

/*nav*/
/*navigation section*/
header {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 10rem;
  max-height: 10rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 122rem;
  max-width: 122rem;
  min-width: 35rem;
  /*change to svg logo*/
}

header nav .logo {
  max-width: 20rem;
  height: auto;
}

header nav .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
  max-width: 45rem;
  min-width: 38rem;
}

header nav .navList .navList-item {
  list-style: none;
}

header nav .navList .navList-item .navLink {
  text-decoration: none;
  color: #5c928f;
  padding: 1rem;
}

header nav .navList .navList-item .navLink:hover {
  text-decoration: underline;
}

/*sections*/
/* image slider/hero section */
.sectionOne {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 60rem;
  max-height: 60rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sectionOne .imageSliderContainer {
  height: 100%;
  max-height: 100%;
}

.sectionOne .imageSliderContainer img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Main camp sections*/
.sectionTwo {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 60rem;
  max-height: 60rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.sectionTwo .sectionTwo-article_image {
  max-width: 35rem;
}

.sectionTwo .sectionTwo-article_image img {
  width: 100%;
  border-radius: 1rem;
}

.sectionTwo .mainCampArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 70rem;
  height: 35rem;
}

.sectionTwo .mainCampArticle span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.sectionTwo .mainCampArticle button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*secondary camps column section*/
.sectionThree {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 35rem;
  max-height: 35rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7bd3ce;
  /*.subCampArticle:hover{
            background-color: #e9e9e9;
        }*/
}

.sectionThree .subCampArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  max-width: 30rem;
}

.sectionThree .subCampArticle .subCampArticle-paragraph {
  text-align: center;
  line-height: 1.8rem;
  width: 72%;
}

.sectionThree .subCampArticle .advCampBtn {
  margin-top: 8%;
}

.sectionThree .subCampArticle .weeklyCampBtn {
  margin-top: 8%;
}

/*travle FAQ section*/
.sectionFour {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 55rem;
  max-height: 55rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFA14E;
}

.sectionFour .faqImageContainer {
  width: 60rem;
  height: 100%;
}

.sectionFour .faqImageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.sectionFour .faqArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 60rem;
  height: 50rem;
  margin: auto;
}

/*forms*/
#mainCamp-signUpInformation {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 50rem;
  max-height: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ececec;
  display: none;
  /*importent to have the value on one for the onclick function to work*/
}

#mainCamp-signUpInformation article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 40rem;
  height: 35rem;
  max-height: 40rem;
}

#mainCamp-signUpInformation article .signUpForm_priceChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
  /*denna förhåller sig till max-width i articlen*/
}

#mainCamp-signUpInformation article .signUpForm_priceChart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  height: 15rem;
  max-height: 15rem;
  list-style: none;
}

#mainCamp-signUpInformation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mainCamp-signUpInformation form input, #mainCamp-signUpInformation form textarea {
  width: 20rem;
  border: none;
  padding: 0.5rem;
}

#mainCamp-signUpInformation form input:hover, #mainCamp-signUpInformation form textarea:hover {
  background-color: #e6e6e6;
}

#mainCamp-signUpInformation form .firstFormColumn, #mainCamp-signUpInformation form .secondFormColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  height: 40rem;
  max-height: 50rem;
}

#mainCamp-signUpInformation form .firstFormColumn .termsAndSubmit, #mainCamp-signUpInformation form .secondFormColumn .termsAndSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20rem;
  height: 14rem;
}

#mainCamp-signUpInformation form .firstFormColumn .termsAndSubmit input, #mainCamp-signUpInformation form .secondFormColumn .termsAndSubmit input {
  width: 2rem;
}

#mainCamp-signUpInformation form .firstFormColumn .termsAndSubmit a, #mainCamp-signUpInformation form .secondFormColumn .termsAndSubmit a {
  text-decoration: none;
  color: #5c928f;
  margin-right: 2rem;
}

#mainCamp-signUpInformation form .firstFormColumn .termsAndSubmit a:hover, #mainCamp-signUpInformation form .secondFormColumn .termsAndSubmit a:hover {
  text-decoration: underline;
}

#mainCamp-signUpInformation form .firstFormColumn button, #mainCamp-signUpInformation form .secondFormColumn button {
  padding: 0.5rem 2rem;
}

#preTraning-signUpForm {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 50rem;
  max-height: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ececec;
  display: none;
  /*importent to have the value on one for the onclick function to work*/
}

#preTraning-signUpForm article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 40rem;
  height: 25rem;
  max-height: 40rem;
}

#preTraning-signUpForm article .signUpForm_priceChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
  /*denna förhåller sig till max-width i articlen*/
}

#preTraning-signUpForm article .signUpForm_priceChart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  height: 5rem;
  max-height: 15rem;
  list-style: none;
}

#preTraning-signUpForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#preTraning-signUpForm form input, #preTraning-signUpForm form textarea {
  width: 20rem;
  border: none;
  padding: 0.5rem;
}

#preTraning-signUpForm form input:hover, #preTraning-signUpForm form textarea:hover {
  background-color: #e6e6e6;
}

#preTraning-signUpForm form .firstFormColumn, #preTraning-signUpForm form .secondFormColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  height: 40rem;
  max-height: 50rem;
}

#preTraning-signUpForm form .firstFormColumn .termsAndSubmit, #preTraning-signUpForm form .secondFormColumn .termsAndSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20rem;
  height: 14rem;
}

#preTraning-signUpForm form .firstFormColumn .termsAndSubmit input, #preTraning-signUpForm form .secondFormColumn .termsAndSubmit input {
  width: 2rem;
}

#preTraning-signUpForm form .firstFormColumn .termsAndSubmit a, #preTraning-signUpForm form .secondFormColumn .termsAndSubmit a {
  text-decoration: none;
  color: #5c928f;
  margin-right: 2rem;
}

#preTraning-signUpForm form .firstFormColumn .termsAndSubmit a:hover, #preTraning-signUpForm form .secondFormColumn .termsAndSubmit a:hover {
  text-decoration: underline;
}

#preTraning-signUpForm form .firstFormColumn button, #preTraning-signUpForm form .secondFormColumn button {
  padding: 0.5rem 2rem;
}

#advancedTraning-signUpForm {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 50rem;
  max-height: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ececec;
  display: none;
  /*importent to have the value on one for the onclick function to work*/
}

#advancedTraning-signUpForm article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 40rem;
  height: 35rem;
  max-height: 40rem;
}

#advancedTraning-signUpForm article .signUpForm_priceChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
  /*denna förhåller sig till max-width i articlen*/
}

#advancedTraning-signUpForm article .signUpForm_priceChart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  height: 10rem;
  max-height: 15rem;
  list-style: none;
}

#advancedTraning-signUpForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#advancedTraning-signUpForm form input, #advancedTraning-signUpForm form textarea {
  width: 20rem;
  border: none;
  padding: 0.5rem;
}

#advancedTraning-signUpForm form input:hover, #advancedTraning-signUpForm form textarea:hover {
  background-color: #e6e6e6;
}

#advancedTraning-signUpForm form .firstFormColumn, #advancedTraning-signUpForm form .secondFormColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  height: 40rem;
  max-height: 50rem;
}

#advancedTraning-signUpForm form .firstFormColumn .termsAndSubmit, #advancedTraning-signUpForm form .secondFormColumn .termsAndSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20rem;
  height: 14rem;
}

#advancedTraning-signUpForm form .firstFormColumn .termsAndSubmit input, #advancedTraning-signUpForm form .secondFormColumn .termsAndSubmit input {
  width: 2rem;
}

#advancedTraning-signUpForm form .firstFormColumn .termsAndSubmit a, #advancedTraning-signUpForm form .secondFormColumn .termsAndSubmit a {
  text-decoration: none;
  color: #5c928f;
  margin-right: 2rem;
}

#advancedTraning-signUpForm form .firstFormColumn .termsAndSubmit a:hover, #advancedTraning-signUpForm form .secondFormColumn .termsAndSubmit a:hover {
  text-decoration: underline;
}

#advancedTraning-signUpForm form .firstFormColumn button, #advancedTraning-signUpForm form .secondFormColumn button {
  padding: 0.5rem 2rem;
}

#weeklyTraning-signUpForm {
  max-width: 144rem;
  /*may change lager on... depends on what widths the rest of the pages are.*/
  background-color: #ffffff;
  height: 50rem;
  max-height: 50rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ececec;
  display: none;
  /*importent to have the value on one for the onclick function to work*/
}

#weeklyTraning-signUpForm article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 40rem;
  height: 25rem;
  max-height: 40rem;
}

#weeklyTraning-signUpForm article .signUpForm_priceChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
  /*denna förhåller sig till max-width i articlen*/
}

#weeklyTraning-signUpForm article .signUpForm_priceChart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  height: 10rem;
  max-height: 15rem;
  list-style: none;
}

#weeklyTraning-signUpForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#weeklyTraning-signUpForm form input, #weeklyTraning-signUpForm form textarea {
  width: 20rem;
  border: none;
  padding: 0.5rem;
}

#weeklyTraning-signUpForm form input:hover, #weeklyTraning-signUpForm form textarea:hover {
  background-color: #e6e6e6;
}

#weeklyTraning-signUpForm form .firstFormColumn, #weeklyTraning-signUpForm form .secondFormColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  height: 40rem;
  max-height: 50rem;
}

#weeklyTraning-signUpForm form .firstFormColumn .termsAndSubmit, #weeklyTraning-signUpForm form .secondFormColumn .termsAndSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20rem;
  height: 14rem;
}

#weeklyTraning-signUpForm form .firstFormColumn .termsAndSubmit input, #weeklyTraning-signUpForm form .secondFormColumn .termsAndSubmit input {
  width: 2rem;
}

#weeklyTraning-signUpForm form .firstFormColumn .termsAndSubmit a, #weeklyTraning-signUpForm form .secondFormColumn .termsAndSubmit a {
  text-decoration: none;
  color: #5c928f;
  margin-right: 2rem;
}

#weeklyTraning-signUpForm form .firstFormColumn .termsAndSubmit a:hover, #weeklyTraning-signUpForm form .secondFormColumn .termsAndSubmit a:hover {
  text-decoration: underline;
}

#weeklyTraning-signUpForm form .firstFormColumn button, #weeklyTraning-signUpForm form .secondFormColumn button {
  padding: 0.5rem 2rem;
}

/*footer*/
/*# sourceMappingURL=index.css.map */