/* ----- Browser Reset ----- */
*,
*::after,
*::before {
  margin: 0%;
  padding: 0;
  box-sizing: inherit;
}

html{
    font-size: 62.5%;
    /*1 rem = 10px*/
    font-family: Arial, Helvetica, sans-serif; /*change this to the right one later*/
}

body {
    box-sizing: border-box;

    font-size: 1.6rem;
    /*quick fix - while styling the rest.*/
  }

/*colors*/
$mainColor: #60dad4;
$mainTextColor: black;

/*mixins*/
@mixin SectionSize ($height){
  max-width: 144rem;/*may change lager on... depends on what widths the rest of the pages are.*/
  height: $height;
  max-height: $height;
  margin: auto;
}
@mixin flex ($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

/*standard classes*/
.mainHeading{

}

.secondHeading{

}

.mainParagraph{

}

