/*secondary camps column section*/
.sectionThree{
    @include SectionSize(30rem);
    @include flex(row, space-evenly, center);

    .subCampArticle{
        height: 25rem;
        width: 25rem;
        max-width:25rem;
        @include flex(column, space-between, center);

        .subCampArticle-paragraph{
            text-align: center;
        }
    }
        /*.subCampArticle:hover{
            background-color: #e9e9e9;
        }*/

}