/*travle FAQ section*/
.sectionFour{
    @include SectionSize(70rem);
    @include flex(row, space-around, center);

    .faqImageContainer{
        max-width: 40rem;
        max-height: 70rem;

        img{
        width: 100%;
        }

    }

    .faqArticle{
        @include flex(column, space-between, flex-start);
        max-width: 70rem;
        height: 50rem;
    }
}