/*travle FAQ section*/
.sectionFour{
    @include SectionSize(50rem);
    @include flex(row, space-between, center);
    background-color: $orangeBackgroundColor;


    .faqImageContainer{
        width:51rem;
        height: 100%;
        @include flex(row, flex-start, center);
        

        img{
        max-width: 100%;
        max-height: 100%;
        }

    }

    .faqArticle{
        @include flex(column, space-evenly,flex-start);
        max-width: 60rem;
        height: 45rem;
        margin: auto;
    }
}