/* image slider/hero section */
.sectionOne{
 @include SectionSize(60rem);
 @include flex(row, center, flex-start);

    .imageSliderContainer{
        height: 100%;
        max-height: 100%;
         
        
        img{
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            animation: imgSlider 3s linear infinite;
            
        }     
         
    }

}

@keyframes imgSlider {
0%{content: url(../../images/landingPage-img/surfgroup.jpg)}
50%{content: url(../../images/landingPage-img/surfers.jpg)}
100%{content: url(../../images/landingPage-img/temp.jpg)}

}