/*secondary camps column section*/
.sectionThree{
    @include SectionSize(40rem);
    @include flex(row, space-evenly, center);
    background-color: $mainColor;

    .subCampArticle{
        @include flex(column, space-around, center);
        height: 30rem;
        max-width:30rem;
        

        .subCampArticle-paragraph{
            text-align: center;
           line-height: 1.8rem;
           width: 72%;
        }

        .advCampBtn{
            margin-top: 8%;
        }

        .weeklyCampBtn{
            margin-top: 8%;
        }
    }
        /*.subCampArticle:hover{
            background-color: #e9e9e9;
        }*/

}