/* image slider/hero section */
.hero{
 @include SectionSize(50rem);
 @include flex(row, center, flex-start);
 position: relative;

 .slogan{
    @include flex (column, center, center);
    position: absolute;
    top: 35%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    background-color: #3f857f85;

    h3{
        color: white;
        letter-spacing: 0.8rem;
        margin-top: 1rem;
        border-top: 1px solid white;
        padding: 10px 0 0 0;
        font-size: 14px;
    }

    h2{
        color: white;
        letter-spacing: 0.5rem;
        font-family: "Original Surfer", sans-serif;
    }
}

    .imageSliderContainer{
        max-height: 100%;
         
          .slogan{
        @include flex (column, center, center);
        position: absolute;
        top: 35%;
        padding: 1rem 2rem;
        border-radius: 0.5rem;

        background-color: #3f857f85;

        h3{
            color: white;
            letter-spacing: 1rem;
            margin-top: 1rem;
            border-top: 1px solid white;
            padding: 10px 0 0 0;
            font-size: 14px;
        }

        h2{
            color: white;
            letter-spacing: 0.5rem;
            font-family: "Original Surfer", sans-serif;
        }
    }

        
        img{
            width: 100%;
            max-width: 100%;
            height: 50rem;
            object-fit: cover;

            animation: imgSlider 30s linear infinite;
        }     
    }
}

@keyframes imgSlider {
0%{content: url(../images/landingPage-img/surfers.jpg);  }
25%{content: url(../images/landingPage-img/seaLandscape.jpg);}
50%{content: url(../images/landingPage-img/camp.jpg);}
75%{content: url(../images/landingPage-img/waveSurfer.jpg);}
100%{content: url(../images/landingPage-img/campfire.jpg);}
}