/* ----- Browser Reset ----- */
*,
*::after,
*::before {
  margin: 0%;
  padding: 0;
  box-sizing: inherit;
}

html{
    font-size: 62.5%;
    /*1 rem = 10px*/
    
}

body {
    box-sizing: border-box;
    background-color: #efefef;

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }


  
/*colors*/
$mainColor: #7bd3ce;

$buttonTextColor:#00416d;

$mainHeaderColor: #60dad4; /*this is the main color*/
$secondHeaderColor:#ffffff;
$thirdHeaderColor:#ffffff;

$mainParagraphColor:#497976;

$orangeBackgroundColor:#FFA14E;
$whiteBackgroundColor:#ffffff;

$formBackgroundColor:#7597a7;
$formHeaderColor: #60dad4;
$formParagraphColor: #ffffff;



/*mixins*/
@mixin SectionSize ($height){
  max-width: 144rem;/*may change later on... depends on what widths the rest of the pages are.*/
  background-color: $whiteBackgroundColor;
  height: $height;
  max-height: $height;
  margin: auto;
}
@mixin flex ($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

/*standard tag stylings*/


button{
  font-size: 1.6rem;
  font-weight: bold;
  background: none;
  color: $buttonTextColor;
  border: none;
  padding: 1rem;
}

  button:hover{
    cursor: pointer;
    text-decoration: underline;
  }

    button:focus{
      outline: none;
      border: 2px solid $buttonTextColor;
      border-radius: 2rem;
    }
  

label{
  color: $formParagraphColor;
}

/*standard classes*/
.mainHeading{
  color: $mainHeaderColor;
  font-family: "Original Surfer", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;

  letter-spacing: 0.35rem;
}

.secondHeading{
  color: $secondHeaderColor;
  font-size: 2rem;
}

.mainParagraph{
  color: $mainParagraphColor;
}

.secondParagraph{
  color: #f7f7f7;
}
.thirdParagraph{
  color: #f7f7f7;
}