/*Main camp sections*/
.sectionTwo{
    @include SectionSize(80rem);
    @include flex(row, space-evenly, center);
    background-color: $whiteBackgroundColor;

    .mainCampArticle{
        @include flex(column, space-between, flex-start);
        max-width: 70rem;
        height: 35rem;
        span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
        }

        button{
            align-self: flex-end;
        }
    }
}

    .sectionTwo-article_image{
        max-width: 35rem;
        

        img{
        width: 100%;
        border-radius: 0.8rem; 

        }

    }

  