@import "colorC";

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
}

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $paragraph;
}
