@import "colorC";

.header__text h1 {
  font-family: "Original Surfer", sans-serif;
  font-size: 5vmin;
  color: $base;
  padding: 3rem;
}

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $paragraph;
  padding: 1em;
}

.contact {
  &__title {
    font-family: "Roboto", sans-serif;
    color: $white;
    font-size: 2.4rem;
    padding: 1em;
  }
  &__paragraph {
    font-family: "Roboto", sans-serif;
    color: $white;
    font-size: 1.8rem;
    padding: 1em;
  }
}
