@import "mixinC";
@import "fontC";
@import "colorC";

/* ----- Navigation with navlinks ----- */

/* ----- Main content with header and cards ----- */
.header {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  width: 95%;
  // max-width: 90rem;
  // min-height: 80rem;
  margin: auto;
  position: relative;
  &::before {
    content: "";
    background: url("../images/form.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    max-width: 90rem;
    min-height: 80rem;
    margin: auto;
    position: relative;
  }
  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
}
/* ----- Cards ----- */
.header .card1 {
  @include card;
}
.card2 {
  @include card;
}
.card3 {
  @include card;
}
.card4 {
  @include card;
}

/* ----- Card images ----- */
.img--1 {
  @include employee-img;
  object-position: top;
}
.img--2 {
  @include employee-img;
}
.img--3 {
  @include employee-img;
}
.img--4 {
  @include employee-img;
  object-position: top;
}

/* ----- Footer ----- */
