#weeklyTraning-signUpForm{
    @include SectionSize(50rem);
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    max-width: 122rem;
    background-color: lightblue;
    display: none; /*importent to have the value on one for the onclick function to work*/
        

        article{
            @include flex(column, space-between, flex-start);
            max-width: 40rem;
            height: 25rem;
            max-height: 40rem;

            .signUpForm_priceChart{
                @include flex(row, space-between, space-evenly);
                width: 100%; /*denna förhåller sig till max-width i articlen*/

                ul{
                    @include flex(column, space-between, space-evenly);
                    height: 10rem;
                    max-height: 15rem;
                    list-style: none;
                }
            }
            
        }


        form{
            @include flex(row, center, center);
            flex-wrap: wrap;
            

            input, textarea{
                width: 20rem;
                border: none;
                padding: 0.5rem;
            }

            input:focus, textarea:focus{
                outline: 1px solid  grey;
            }

            input:hover, textarea:hover{
                background-color: rgb(230, 230, 230);
            }
            
            .firstFormColumn, .secondFormColumn{
                @include flex(column, space-around, center);
                width: 25rem;
                height: 40rem;
                max-height: 50rem;

                
                .termsAndSubmit{
                    @include flex(row, flex-start, flex-start);
                    flex-wrap: wrap;
                    width: 20rem;
                    height: 14rem;
                   

                    input{ 
                        width: 2rem;
                    }

                    a{
                        text-decoration: none;
                        color: $mainTextColor;
                        margin-right: 2rem;
                    }
                        a:hover{
                            text-decoration: underline;
                        }

                }

                button{
                    padding: 0.5rem 2rem;
                }
            }

        }
     
}